<ng-include src="'views/home/template/home.view.client.html'"></ng-include>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 manage-events-button text-center">
        <a href="#/admin/manage-events">
            <button id="manage-events-button"
                    class="option btn btn-lg btn-circle btn-raised ripple-effect btn-primary">
                <h3><span class="glyphicon glyphicon-pencil"></span>&nbsp;Manage Events</h3>
            </button>
        </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 manage-users-button text-center">
        <a href="#/admin/manage-users">
            <button id="manage-users-button"
                    class="option btn btn-lg btn-circle btn-raised ripple-effect btn-primary">
                <h3><span class="glyphicon glyphicon-pencil"></span>&nbsp;Manage Users</h3>
            </button>
        </a>
    </div>
</div>