<ng-include src="'views/home/template/home.view.client.html'"></ng-include>
<div class="container-fluid">
    <div class="participantContainer">
        <ul class="pagination pagination-sm actTemplate">
            <li role="presentation">
                <a class="smpleWindowToggle active"
                   data-toggle="collapse" data-target="#collapseExample">
                    Show/Hide Teams Dashboard
                </a>
            </li>
        </ul>
    </div>
    <div class="row organizerContainer">
        <div class="col-xs-12 col-sm-6 organizerScreen">
            <div class="collapse in" id="collapseExample">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10 col-sm-6">
                                <div class="navbar-text pull-left">
                                    <a href="#/organizer/events">
                                        <span class="fa fa-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="navbar-header">
                                    <a class="navbar-brand">Team Name</a>
                                </div>
                            </div>
                            <div class="col-sm-3 hidden-xs">
                                <div class="navbar-header">
                                    <a class="navbar-brand">Size</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="team in model.teams" class="list-group-item">
                        <div class="row container-fluid">
                            <div class="col-xs-8 col-sm-6">
                                <a data-toggle="collapse" data-target="#team_{{team._id}}_members">{{team.name}}</a>
                                <label ng-click="model.showTeam(team)" class="label label-primary text-center">Show on map</label>
                            </div>
                            <div class="col-sm-2 hidden-xs text-center">
                                {{team.members.length}}
                            </div>
                        </div>
                        <div class="container-fluid collapse" id="team_{{team._id}}_members">
                                <span ng-repeat="member in team.members" class="list-group-item">
                                    <label>{{member.participant.firstName}} {{member.participant.lastName}}</label>
                                </span>
                        </div>
                    </li>
                    <li ng-show="model.teams.length == 0" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="navbar-header">
                                    <a class="navbar-brand">No teams found.</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
