<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand page-scroll pull-left" href="#page-top">
            <i class="fa fa-hashtag"></i> <span class="light">Treasure</span> Hunt
        </a>
        <a class="navbar-brand page-scroll pull-right" href="#page-top">
            <i class="fa fa-hashtag"></i>Login
        </a>
    </div>
</nav>
<div class="container-fluid">
    <div id="map">
        <ui-gmap-google-map center='model.map.center' zoom='model.map.zoom'></ui-gmap-google-map>
    </div>
    <div class="row organizerScreen">
        <div class="col-xs-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10 col-sm-6">
                            Event Name
                        </div>
                        <div class="col-sm-3 hidden-xs">
                            Day
                        </div>
                        <div class="col-sm-3 col-xs-2">
                            <a href="model.">
                                <span class="fa fa-plus pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="event in model.events" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8 col-sm-6">
                            <!--TODO on click of the event, should show info regarding the event and options to edit checkpoints and teams-->
                            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{event.name}}</a>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            {{event.day | date}}
                        </div>
                        <div class="col-xs-2">
                            <!--TODO edit teams-->
                            <a href="#/user/{{model.userId}}/website/{{website._id}}">
                                <span class="fa fa-users pull-right"></span>
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <!--TODO edit checkpoints -->
                            <a href="#/user/{{model.userId}}/website/{{website._id}}">
                                <span class="fa fa-flag-checkered pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/">
                <span class="fa fa-home"></span>
            </a>
        </div>
    </div>
</nav>
