<ng-include src="'views/home/template/home.view.client.html'"></ng-include>
<div class="container-fluid">
    <div class="participantContainer">
        <ul class="pagination pagination-sm actTemplate">
            <li role="presentation">
                <a class="smpleWindowToggle active"
                   data-toggle="collapse" data-target="#collapseExample">
                    Show/Hide Events Dashboard
                </a>
            </li>
        </ul>
    </div>
    <div class="row organizerContainer">
        <div class="col-xs-12 col-sm-6 organizerScreen">
            <div class="collapse in" id="collapseExample">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="navbar-text pull-left">
                                    <a href="#/organizer/events">
                                        <span class="fa fa-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="navbar-text pull-right">
                                    <a ng-click="model.updateEvent(model.event)">
                                        <span class="fa fa-check"></span>
                                    </a>
                                </div>
                                <div class="navbar-header">
                                    <a class="navbar-brand">Edit Event</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div ng-show="model.error" class="alert alert-danger">
                            {{model.error}}
                        </div>
                        <label for="name">Event Name</label>
                        <input ng-model="model.event.name"
                               type="text" id="name"
                               placeholder="Name" class="form-control"/>

                        <label for="desc">Event Description</label>
                        <div text-angular id="desc" ng-model="model.event.desc"
                             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                        ['indent','outdent'],['html']]"></div>

                        <label for="day">Event Day</label>
                        <input ng-model="model.event.day"
                               type="date" id="day" name="{{model.event.day}}"
                               class="form-control"/>

                        <label for="location">Event Place</label>
                        <div class="row">
                            <div class="col-xs-10">
                                <input ng-model="model.event.place" googlelocation
                                       id="location"
                                       class="form-control"/>
                            </div>
                            <div class="col-xs-2">
                                <a ng-click="model.updateMapCenter()" class="btn btn-default btn-block">
                                    <span class="fa fa-map-marker"></span>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" ng-model="model.event.location"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
