<ng-include src="'views/home/template/home.view.client.html'"></ng-include>
<div class="container-fluid">
    <div class="participantContainer">
        <ul class="pagination pagination-sm actTemplate">
            <li role="presentation"><a ng-click="model.showAllMarkers()" class="smpleTmpltOptn" id="allEventsContainer">All Events</a></li>
            <li role="presentation"><a ng-click="model.showMyMarkers()" class="smpleTmpltOptn" id="myEventsContainer" >My Events</a></li>
        </ul>
    </div>
</div>
