<ng-include src="'views/home/template/home.view.client.html'"></ng-include>
<div class="container-fluid">
    <div class="participantContainer">
        <ul class="pagination pagination-sm actTemplate">
            <li role="presentation">
                <a href="#/participant/events" class="smpleTmpltOptn" id="allEventsContainer">
                    <span class="fa fa-arrow-left"></span>
                </a>
            </li>
            <li role="presentation"><a class="btn btn-success" ng-click="model.checkReached()" id="myEventsContainer" >Am I here</a></li>
        </ul>
    </div>
</div>
