<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll pull-left" href="#page-top">
                <i class="fa fa-hashtag"></i> <span class="light">Treasure</span> Hunt
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input ng-model="location" googlelocation type="text" class="form-control" name="q">
                    <div class="input-group-btn">
                        <button ng-click="model.updateMapCenter()" class="btn btn-default location-search"><i class="glyphicon glyphicon-map-marker"></i></button>
                    </div>
                </div>
                <ul ng-if="!model.user" class="form-group nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="modal" data-target="#login"><b>Sign In/Sign Up</b></a>
                    </li>
                </ul>
                <ul ng-if="model.user" class="form-group nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a ng-click="model.logout()"><b>Logout</b></a>
                    </li>
                </ul>
                <ul ng-if="model.user" class="form-group nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="modal" data-target="#profile"><b>Profile</b></a>
                    </li>
                </ul>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div id="map">
        <ui-gmap-google-map center='model.map.center' zoom='model.map.zoom' styles='model.map.styles'>
            <ui-gmap-markers ng-if="model.markerSet" models="model.markerSet" coords="'self'" icon="'icon'" options="'options'" fit="true">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>

<!--Login and Register modal pop up-->
<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div ng-show="model.error" class="alert alert-danger">
                                {{model.error}}
                            </div>
                            <div class="group">
                                <label for="loginUsername" class="label">Username</label>
                                <input ng-model="loginUser.username" id="loginUsername" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="loginPassword" class="label">Password</label>
                                <input ng-model="loginUser.password" id="loginPassword" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <input id="signinSubmit" ng-click="model.login(loginUser)"
                                       type="submit" class="button" value="Sign In"
                                       data-toggle="modal" data-target="#login">
                            </div>
                            <div class="group">
                                <a href="/project/services/api/auth/google" class="button btn">
                                    <span class="fa fa-google-plus"></span>
                                    Google
                                </a>
                            </div>
                        </div>
                        <div class="sign-up-htm">
                            <div ng-show="model.error" class="alert alert-danger">
                                {{model.error}}
                            </div>
                            <div class="group">
                                <label for="signupUsername" class="label">Username</label>
                                <input ng-model="user.username" id="signupUsername" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupPassword" class="label">Password</label>
                                <input ng-model="user.password" id="signupPassword" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label for="signupVerifyPassword" class="label">Verify Password</label>
                                <input ng-model="user.verifypassword" id="signupVerifyPassword" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label for="signupUserType" class="label">Sign in as</label>
                                <div id="signupUserType" class="row">
                                    <div class="col-xs-6">
                                        <label class="radio-inline">
                                            <input ng-model="user.userType" type="radio" name="userTypeOptions" id="inlineRadio1" value="organizer"> <label for="inlineRadio1" class="label text-right">Organizer</label>
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="radio-inline">
                                            <input ng-model="user.userType" type="radio" name="userTypeOptions" id="inlineRadio2" value="participant"> <label for="inlineRadio2" class="label">Participant</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <label for="signupFirstName" class="label">First Name</label>
                                <input ng-model="user.firstName" id="signupFirstName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupLastName" class="label">Last Name</label>
                                <input ng-model="user.lastName" id="signupLastName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupEmail" class="label">Email Address</label>
                                <input ng-model="user.email" id="signupEmail" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupPhone" class="label">Phone Number</label>
                                <input ng-model="user.phone" id="signupPhone" type="text" class="input">
                            </div>
                            <div class="group">
                                <input id="signupSubmit" ng-click="model.register(user)" type="submit" class="button" value="Sign Up">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Profile Modal pop up-->
<div class="modal fade" id="profile" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-3" type="radio" name="tab1" class="sign-up" checked><label for="tab-3" class="tab">Profile</label>
                    <div class="login-form">
                        <div class="sign-up-htm">
                            <div ng-show="model.error" class="alert alert-danger">
                                {{model.error}}
                            </div>
                            <div class="group">
                                <label for="profileUsername" class="label">Username</label>
                                <input ng-model="model.user.username" id="profileUsername" type="text" class="input" readonly>
                            </div>
                            <div class="group">
                                <label for="profileFirstName" class="label">First Name</label>
                                <input ng-model="model.user.firstName" id="profileFirstName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="profileLastName" class="label">Last Name</label>
                                <input ng-model="model.user.lastName" id="profileLastName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="profileEmail" class="label">Email Address</label>
                                <input ng-model="model.user.email" id="profileEmail" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="profilePhone" class="label">Phone Number</label>
                                <input ng-model="model.user.phone" id="profilePhone" type="text" class="input">
                            </div>
                            <div class="group">
                                <input id="profileSubmit" ng-click="model.updateProfile(model.user)"
                                       data-toggle="modal" data-target="#profile"
                                       type="submit" class="button" value="Update">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>