<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll pull-left" href="#page-top">
                <i class="fa fa-hashtag"></i> <span class="light">Treasure</span> Hunt
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="form-horizontal">
                <div class="has-feedback">
                    <div class="col-sm-6 navbar-form navbar-left">
                        <input type="text" class="form-control" id="eventSearch" aria-describedby="eventSearchStatus">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="eventSearchStatus" class="sr-only">(success)</span>
                    </div>
                    <ul class="form-group nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="modal" data-target="#login"><b>Sign In/Sign Up</b></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div id="map">
        <ui-gmap-google-map center='model.map.center' zoom='model.map.zoom'>
            <ui-gmap-markers ng-if="model.markerSet" models="model.markerSet" coords="'self'" icon="'icon'" options="'options'">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>

<!--Login and Register modal pop up-->
<div class="modal" id="login" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div ng-show="model.error" class="alert alert-danger">
                                {{model.error}}
                            </div>
                            <div class="group">
                                <label for="loginUsername" class="label">Username</label>
                                <input ng-model="loginUser.username" id="loginUsername" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="loginPassword" class="label">Password</label>
                                <input ng-model="loginUser.password" id="loginPassword" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <input ng-click="model.login(loginUser)"
                                       type="submit" class="button" value="Sign In"
                                       data-toggle="modal" data-target="#login">
                            </div>
                        </div>
                        <div class="sign-up-htm">
                            <div class="group">
                                <label for="signupUsername" class="label">Username</label>
                                <input ng-model="user.username" id="signupUsername" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupPassword" class="label">Password</label>
                                <input ng-model="user.password" id="signupPassword" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label for="signupVerifyPassword" class="label">Verify Password</label>
                                <input ng-model="user.verifypassword" id="signupVerifyPassword" type="password" class="input" data-type="password">
                            </div>
                            <div class="group">
                                <label for="signupUserType" class="label">Sign in as</label>
                                <div id="signupUserType" class="row">
                                    <div class="col-xs-6">
                                        <label class="radio-inline">
                                            <input ng-model="user.userType" type="radio" name="userTypeOptions" id="inlineRadio1" value="organizer"> <label for="inlineRadio1" class="label text-right">Organizer</label>
                                        </label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="radio-inline">
                                            <input ng-model="user.userType" type="radio" name="userTypeOptions" id="inlineRadio2" value="participant"> <label for="inlineRadio2" class="label">Participant</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="group">
                                <label for="signupFirstName" class="label">First Name</label>
                                <input ng-model="user.firstName" id="signupFirstName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupLastName" class="label">Last Name</label>
                                <input ng-model="user.lastName" id="signupLastName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupEmail" class="label">Email Address</label>
                                <input ng-model="user.email" id="signupEmail" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="signupPhone" class="label">Phone Number</label>
                                <input ng-model="user.phone" id="signupPhone" type="text" class="input">
                            </div>
                            <div class="group">
                                <input ng-click="model.register(user)" type="submit" class="button" value="Sign Up">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
