<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand page-scroll pull-left" href="#page-top">
            <i class="fa fa-hashtag"></i> <span class="light">Treasure</span> Hunt
        </a>
        <a class="navbar-brand page-scroll pull-right" href="#page-top">
            <i class="fa fa-hashtag"></i>Login
        </a>
    </div>
</nav>
<div class="container-fluid">
        <div id="map">
            <ui-gmap-google-map center='model.map.center' zoom='model.map.zoom'></ui-gmap-google-map>
        </div>
</div>
