<!--Profile Modal pop up-->
<div class="modal fade" id="profile" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="login-wrap">
                <div class="login-html">
                    <input id="tab-3" type="radio" name="tab1" class="sign-up" checked><label for="tab-3" class="tab">Profile</label>
                    <div class="login-form">
                        <div class="sign-up-htm">
                            <div ng-show="model.error" class="alert alert-danger">
                                {{model.error}}
                            </div>
                            <div class="group">
                                <label for="profileUsername" class="label">Username</label>
                                <input ng-model="model.user.username" id="profileUsername" type="text" class="input" readonly>
                            </div>
                            <div class="group">
                                <label for="profileFirstName" class="label">First Name</label>
                                <input ng-model="model.user.firstName" id="profileFirstName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="profileLastName" class="label">Last Name</label>
                                <input ng-model="model.user.lastName" id="profileLastName" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="profileEmail" class="label">Email Address</label>
                                <input ng-model="model.user.email" id="profileEmail" type="text" class="input">
                            </div>
                            <div class="group">
                                <label for="profilePhone" class="label">Phone Number</label>
                                <input ng-model="model.user.phone" id="profilePhone" type="text" class="input">
                            </div>
                            <div class="group">
                                <input id="profileSubmit" ng-click="model.updateProfile(model.user)"
                                       data-toggle="modal" data-target="#profile"
                                       type="submit" class="button" value="Update">
                                <input id="profileCancel"
                                       data-toggle="modal" data-target="#profile"
                                       type="submit" class="button" value="Cancel">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>